/* stylelint-disable unknown-at-rules */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-disable unknown-at-rules */

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header,
.app-footer {
  background-color: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

.app-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
